src/main/resources/card.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.eclipse.org/webtools/Catalogue" xmlns:c="http://www.eclipse.org/webtools/Catalogue">

    <element name="OldCards">
        <complexType>
            <sequence>
                <element ref="c:Card" maxOccurs="unbounded"></element>
            </sequence>
        </complexType>
    </element>

    <complexType name="CardType">
        <sequence>
            <element name="theme" type="tns:themeType"/>
            <element name="type" type="tns:typeType"
            <element name="author" type="string" minOccurs="0" maxOccurs="unbounded"></element>
            <element name="date" type="gYear" use="optional"/>
        </sequence>
        <attribute name="id" use="required" type="tns:cardId"/>
        <attribute name="author" use="optional" type="string"/>
    </complexType>
    
    <simpleType name="cardId">
        <restriction base="ID">
            <pattern value="w\d{1,5}"/>
        </restriction>
    </simpleType>

    <complexType name="BookType">
        <complexContent>
            <extension base="c:PublicationType">
                <sequence>
                    <element name="isbn" type="string" />
                    <element name="publisher" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="MagazineType">
        <complexContent>
            <restriction base="c:PublicationType">
                <sequence>
                    <element name="title" type="string" />
                    <element name="author" type="string" minOccurs="0" maxOccurs="0"/>
                    <element name="date" type="gYear"></element>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>

    <element name="Card" type="c:CardType" abstract="true"></element>
    <element name="SentCard" type="c:SentCardType" substitutionGroup="c:Card"></element>
    <element name="StoreCard" type="c:StoreCardType" substitutionGroup="c:Card"></element>
    <element name="HandmadeCard" type="c:HandmadeCardType" substitutionGroup="c:Card"></element>